[submodule "Engine/External/spdlog"]
	path = Engine/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/External/imgui"]
	path = Engine/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "Engine/External/abseil"]
	path = Engine/External/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "Engine/External/protobuf"]
	path = Engine/External/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
